# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ide and editor configuration
/.vscode

# dependency directories
node_modules

# production distribution
/dist

# purgable, throw-away files
/tmp
/work

# developer notes
/admin

# miscellaneous
.DS_Store
