body {
    cursor: none;
}
puppeteer-mouse-pointer {
    pointer-events: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 20px; 
    height: 20px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'%3e%3cpath d='M535-176 405-456 278-279v-523l412 324H469l128 273-62 29Z'/%3e%3c/svg%3e");
}
puppeteer-mouse-info {
    pointer-events: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100px;
    height: 80px;
    background-color: rgb(138, 43, 226, 0.2);
    display: none; /* Hidden initially */
    opacity: 0.5;
    padding: 5px;
}
